{% extends "base.html" %}

{% block navbarAtas %}
  <nav class="blog-nav">
    <a class="blog-nav-item active" href="/">Home</a>
    <a class="blog-nav-item" href="article/category/">Category</a>
    <a class="blog-nav-item" href="#">New features</a>
    <a class="blog-nav-item" href="#">Press</a>
    <a class="blog-nav-item" href="#">New hires</a>
    <a class="blog-nav-item" href="#">About</a>
  </nav>
{% endblock %}

{% block mainContent %}
  {% for posting in post %}
    <h2 class="blog-post-title"><a href="article/{{posting.slug}}">{{posting.title}}</a></h2>
    <p class="blog-post-meta">{{posting.created_on}}, Category <a href="#">{{posting.category}}</a></p>        
    {{posting.content | safe}}
  {% endfor %}
{% endblock %}

{% block CategoryListSide %}
  <ol class="list-unstyled">
      {% for cat in categori %}
      <li><a href="article/category/{{cat.id}}">{{cat.name}}</a></li>            
      {% endfor %}      
  </ol>
{% endblock %}
{% block backToTop %}
  <a href="/">Back to top</a>
{% endblock %}