{% extends "base.html" %}

{% block navbarAtas %}
  <nav class="blog-nav">
    <a class="blog-nav-item active" href="/">Home</a>
    <a class="blog-nav-item" href="/article/category/">Category</a>
    <a class="blog-nav-item" href="#">New features</a>
    <a class="blog-nav-item" href="#">Press</a>
    <a class="blog-nav-item" href="#">New hires</a>
    <a class="blog-nav-item" href="#">About</a>
  </nav>
{% endblock %}

{% block mainContent %}
  <h2 class="blog-post-title">{{postDetail.title}}</h2>
            <p class="blog-post-meta">{{postDetail.created_on}}, Category <a href="/article/category/{{cat.id}}">{{postDetail.category}}</a></p>
            
            {{postDetail.content | safe}}
            <img src="media/post_image/{{postDetail.image}}" alt="ini gambar {{postDetail.title}}">
{% endblock %}

{% block CategoryListSide %}
  <ol class="list-unstyled">
      {% for cat in categori %}
      <li><a href="/article/category/{{cat.id}}">{{cat.name}}</a></li>           
      {% endfor %}      
  </ol>
{% endblock %}
{% block backToTop %}
  <a href="/article/{{postDetail.slug}}">Back to top</a>
{% endblock %}